* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*----------Nav-----------*/

.p-s {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    background: transparent;
    transition: all 0.5s ease;
    margin-top: 2.7%;
    margin-right: 5%;
}

.p-s ul li {
    position: relative;
    justify-content: right;
    list-style-type: none;
    display: inline-block;
    z-index: 10;
    margin-right: -6px;
}

.p-s ul li a {
    position: relative;
    text-decoration: none;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    z-index: 10;
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.2) inset;
    border: 2px solid rgba(255, 255, 255,0.2);
    transition: 0.5s ease-in;
    border-radius: 5%;
    padding: 5px 15px;
}

.p-s ul li a:hover {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.4) inset;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: 0.3s ease-in;
    z-index: 10;
}


/*----------------Info--------------*/

.info{
    display: flex;
    max-width: 100%;
    height: 200vh;
    position:absolute;
    background-color: rgb(8,8,8);
}


.info-text{
    text-align: left;
    color: white;
    font-size: 22px;
    margin: 100px;
    margin-right: 5%;
}

h1{
    font-size: 80px;
    border-bottom: 1px solid white;
}

















/*--------------------3D Model-----------------*/


.model{
    margin-top:12%;
    margin-right: 5%;
    float: right;
}


