
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;

}

body {
    overflow-x: hidden;
    background: black
}

::-webkit-scrollbar-track {
    background-color: black;
}

::-webkit-scrollbar {
    width: 10px;
    background-color: rgba(0, 0, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: rgb(180, 172, 172, 0.40);
}

html {
    scroll-behavior: smooth;
}

#canvas {
    display: block;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: -1;
}

/*----------Nav-----------*/

.p-s {
    top: 0;
    right: 0;
    z-index: 10000;
    display: flex;
    align-items: center;
    float: right;
    background: transparent;
    transition: all 0.5s ease;
    position: absolute;
    padding-right: 50px;
    padding-top: 50px;
}

.p-s ul li {
    position: relative;
    justify-content: right;
    list-style-type: none;
    display: inline-block;
    z-index: 10;
    margin-right: -6px;
}

.p-s ul li a {
    position: relative;
    text-decoration: none;
    text-shadow: 5px 5px 8px rgb(0, 0, 0);
    color: white;
    font-size: 20px;
    z-index: 10;
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.2) inset;
    border: 2px solid rgba(255, 255, 255, 0.2);
    transition: 0.5s ease-in;
    border-radius: 5%;
    padding: 5px 15px;
}

.p-s ul li a:hover {
    box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.4) inset;
    border: 2px solid rgba(255, 255, 255, 0.4);
    transition: 0.3s ease-in;
    z-index: 10;
}


/*----------------Info--------------*/

.info-text {
    position: relative;
    height: 100vh;
    width: 100%;
    color: white;
    cursor: default;
}

h1 {
    display: flex;
    font-size: 100px;
    margin-left: 10%;
    padding-top: 170px;
    font-size: 120px;
}

p1 {
    font-size: 23px;
    text-indent: 50px;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 650px;
    display: flex;
    position: relative;

}

p2 {
    font-size: 23px;
    text-indent: 40px;
    margin-left: 100px;
    margin-top: 10px;
    margin-right: 650px;
    white-space: 10px;
    display: flex;
    position: relative;

}


.info-text .image {
    position: absolute;
    height: 500px;
    right: 40px;
    top: 240px;
    float: right;

}

.image {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
}



/*----------------Stats------------------*/


.info-text .stats {
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px 80px;
    padding-top: 50px;
    top: -10px;
    margin-left: 200px;
    cursor: default;
}

.info-text .stats h3 {
    text-align: center;
    font-size: 20px;
}


.info-text .stats-j {
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px 80px;
    padding-top: 50px;
    top: 60px;
    margin-left: 200px;
    cursor: default;
}



/*-------------- Mercur Info Page ------------ */

#Mercur {
    position: static;
    display: flex;
    width: 100%;
    background: #282a3a;
    padding-bottom: 50px;
}

#Mercur .text span {
    font-size: 33px;
    justify-content: center;
    color: White;
    font-weight: 600;
}

.text {
    margin-top: 100px;
    width: 100%;
    color: White;
    font-size: 20px;
    margin-left: 100px;
    margin-right: 50px;
    background: #1a1c2c66;
    padding: 50px;
    border-radius: 1rem;
    text-align: left;
    cursor: default;
}

.text p4 {
    padding: 15px;
}

.text a {
    padding: 15px;
    text-decoration: none;
}


/*-------------- Scroll ------------*/

.scrollme {
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 30px;
    height: 15px;
    margin: 0 0 0 15px;
    animation: fadeBounce 3s infinite;
}

@keyframes fadeBounce {

    0%,
    90%,
    100% {
        opacity: 0;
        transform: translateY(-14px)
    }

    30% {
        opacity: 1;
        transform: translateY(0)
    }

}

/*-------------- Anchor ----------- */


@media screen and (max-width: 1280px) {
    #Mercur .Anchor {
        height: 562px;
    }

    h1 {
        padding-top: 150px;
        font-size: 80px;
    }

    p1 {
        font-size: 20px
    }

    p2 {
        font-size: 20px;
    }


    .info-text .stats {
        position: relative;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 60px;
        top: -170px;
        left: 460px;
        cursor: default;

    }

    .info-text .stats h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-right: 8px;
        margin-top: 8px;
        border-radius: 1rem;
    }



    .p-s ul li a {
        position: relative;
        text-decoration: none;
        text-shadow: 5px 5px 8px rgb(0, 0, 0);
        color: white;
        font-size: 25px;
        z-index: 10;
        box-shadow: 0 0 0 40px rgba(255, 255, 255, 0.2) inset;
        border: 2px solid rgba(255, 255, 255, 0.2);
        transition: 0.5s ease-in;
        border-radius: 5%;
        padding: 15px 25px;
    }
}



@media screen and (max-width:1200px) {
    p2 {
        opacity: 0;
    }
}

@media screen and (max-width:1000px) {
    p1 {
        opacity: 0;
    }

    p2 {
        opacity: 0;
    }

    .info-text .stats h3 {
        opacity: 0;
    }

    #Mercur .Anchor {
        height: 590px;
    }
}

.Anchor {
    color: white;
    position: sticky;
    text-align: center;
    display: grid;
    margin-top: 100px;
    height: 530px;
    width: 250px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.582);
    background: #13151e;
    top: 10%;
    right: 10px;
    z-index: 10;
}

.An {
    text-decoration: none;
    color: white;
    text-align: center;
    padding: 5px;
}

a {
    color: aquamarine;
    transition: 0.3s;
}

a:hover {
    color: aquamarine;
    transition: 0.2s;
}

#Footer {
    height: 120px;
    background: rgb(0, 3, 10);
    cursor: default;
    text-decoration: none;
    border-top: 1px solid rgb(50, 50, 50);

}

#Footer h6 {
    color: rgb(82, 82, 82);
    font-size: 15px;
    padding-top: 75px;
    display: flex;
    justify-content: space-evenly;

}


#Footer h6 a {
    text-decoration: none;
    color: rgb(82, 82, 82);
}



/*--------------- Pamant ----------------*/


@media screen and (max-width: 1280px) {
    #Mercur .Anchor-P {
        height: 630px;
    }
}



.Anchor-P {
    color: white;
    position: sticky;
    text-align: center;
    display: grid;
    margin-top: 100px;
    height: 600px;
    width: 250px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.582);
    background: #13151e;
    top: 10%;
    right: 10px;
    z-index: 10;
}


/*--------------- Venus ---------------*/



.info-text .stats-v {
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px 80px;
    padding-top: 50px;
    top: 80px;
    margin-left: 200px;
    cursor: default;
}

.info-text .stats-v h3 {
    text-align: center;
    font-size: 20px;
}


@media screen and (max-width:1280px) {
    .info-text .stats-v {
        position: relative;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows:60px;
        padding: 50px;
        left: 410px;
        top: 10px;

    }

}






@media screen and (max-width:1280px){
    .info-text .stats-j {
        position: relative;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 60px;
        top: 70px;
        left: 465px;
        cursor: default;

    }

    .info-text .stats-j h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-right: 8px;
        margin-top: 8px;
        border-radius: 1rem;
    }
}


/*--------------------- Saturn ------------*/

.info-text-s{
    height: 100vh;
    width: 100%;
    position: relative;
}

.info-text-s h1{
    font-size: 250px;
    position: absolute;
    color:white;
    left: 20px;
    top: -120px;
    cursor: default;
    text-shadow: 3px 2px 3px black;
}


.info-text-s .image-s {
    position: absolute;
    height: 900px;
    left: 220px;
    top: 100px;
    padding-bottom: 50px;

}


@media screen and (max-width:1280px){
    .info-text-s .image-s {
        position: relative;
        top: 200px;
        height: 700px;
        left: 80px;
        margin-bottom: 300px;
    
    }

    .info-text-s .stats-s {
        position: relative;
        display: flex;
        padding-top: 50px;
        top: 180px;
        margin-left: 50px;
        cursor: default;
    }

    .info-text-s h1{
        font-size: 160px;
        color:white;
        left: 40px;
        top: 40px;

    }
    
    .stats-s{
        opacity: 0 ;
    }

    
    
}





.Anchor-S {
    color: white;
    position: sticky;
    text-align: center;
    display: grid;
    height: 690px;
    width: 250px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.582);
    background: #13151e;
    top: 10%;
    right: 10px;
    z-index: 10;
}

.info-text .image-u {
    position: absolute;
    height: 500px;
    right: 40px;
    top: 240px;
    float: right;
    padding: 20px;

}

.image-u {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
}


@media screen and (max-width:1280px){
    .info-text .stats-u {
        position: relative;
        display: grid;
        grid-template-columns: 300px 300px;
        grid-template-rows: 10px;
        top: 90px;
        cursor: default;

    }

    .info-text .stats-u h3 {
        text-align: center;
        font-size: 20px;
        padding: 10px;
        margin-right: 8px;
        margin-top: 8px;
        border-radius: 1rem;
    }

}

.info-text .stats-u {
    position: relative;
    display: grid;
    grid-template-columns: 500px 500px;
    grid-template-rows: 80px 80px;
    padding-top: 50px;
    top: 80px;
    margin-left: 200px;
    cursor: default;
}

.info-text .stats-u h3 {
    text-align: center;
    font-size: 20px;
}


/*----------------- Sateliti --------------*/

.info-text-sat {
    position: relative;
    width: 100%;
    color: white;
    cursor: default;
    padding-bottom: 100px;
}

.info-text-sat h1{
    font-size: 100px;
}

.info-text-sat p1{
    font-size: 25px;
}
.info-text-sat p2{
    font-size: 25px;
}


.info-text-sat .image-sat {
    position: absolute;
    height: 500px;
    right: 80px;
    top: 260px;
    float: right;

}

.image-sat {
    border-radius: 1rem;
    background-color: rgb(0, 0, 0, 0.2);
}

@media screen and (max-width: 1280px){
    .info-text-sat {
        padding-bottom: 110px;
    }
    .info-text-sat p1{
        font-size: 24px;
        top: 50px;
    }
    .info-text-sat h1{
        padding-left: 80px;

    }

    .info-text-sat p2{
        left: -1000px;
        font-size: 0;
    }

    .info-text-sat .image-sat{
        position:absolute;
        height: 550px;
        left: 700px;

    }
    
}

.Anchor-L {
    color: white;
    position: sticky;
    text-align: center;
    display: grid;
    margin-top: 100px;
    height: 560px;
    width: 250px;
    font-size: 18px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.582);
    background: #13151e;
    top: 10%;
    right: 10px;
    z-index: 10;
}
